.users_container {
  padding: 0 1rem;
  min-height: 93vh;
  background-color: #1a1a1a;
  padding: 2rem 0.5rem;
  cursor: pointer;
}

.users_card_container {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pagination_div {
  width: fit-content;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: #2b2b2b;
  padding: 1rem 0.7rem 1rem 2rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  transform: translateX(-0.5rem);
}

.page_number {
  border: 1px solid #ebeb5e;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  color: #ebeb5e;
}

.active_page {
  color: #2b2b2b;
  background-color: #ebeb5e;
  border: 1px solid #2b2b2b;
}

.error_div {
  padding: 0 1rem;
  width: 100vw;
  min-height: 50vh;
  padding: 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_div h1 {
  margin: 0;
  font-size: 3rem;
  color: #ebeb5e;
}

@media screen and (max-width: 1440px) {
  .users_card_container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .users_card_container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .users_container {
    padding: 0.5rem;
  }
  .users_card_container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .pagination_div {
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: #a9a9a9;
    padding: 1rem 0.7rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}
